<footer class="footer">
  <div class="footer-section redes">
    <h4>Síguenos</h4>
    <div class="icons">
      <a href="#" aria-label="Facebook"><img src="/assets/facebook.svg" alt="Facebook"  class="img-fluid"></a>
      <a href="#" aria-label="Twitter"><img src="/assets/twitter.svg" alt="Twitter"  class="img-fluid"></a>
      <a href="https://www.instagram.com/bearbusinesslab/" aria-label="Instagram"><img src="/assets/instagram.svg" alt="Instagram"  class="img-fluid"></a>
      <a href="https://www.linkedin.com/company/bblcl/?originalSubdomain=cl" aria-label="Linkedin"><img src="/assets/linkedin.svg" alt="Linkedin"  class="img-fluid"></a>    
    </div>
  </div>
  <div class="footer-section horarios">
    <h4>Horario de trabajo</h4>
    <p>Lunes a Viernes: 9:00 - 18:00</p>
    <p>Sábado: 10:00 - 14:00</p>
  </div>
  <div class="footer-section contacto">
    <h4>Contacto</h4>
  <ul>
  <li>Dirección: Serafin Pinto N°6049, Olmue</li>
  <li>Email: contacto&#64;misitio.com</li>
  <li>Teléfono: +56 9 4140 1418</li>
</ul>

  </div>
</footer>